<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LostFoundMyPart">
        <activity
            android:name=".admin.activities.AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activities.AdminLostDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activities.AdminFoundDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activities.AdminClaimDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activities.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ReportLostItemActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ReportFoundItemActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MyReportsActivity"
            android:exported="false" />
            
        <!-- User's Activities -->
        <activity
            android:name=".activities.LostItemsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FoundItemsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ItemDetailsActivity"
            android:exported="false" />
            
        <!-- Missing Group Activities -->
        <activity
            android:name=".activities.ClaimStatusActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SubmitClaimActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NotificationsActivity"
            android:exported="false" />

    </application>

</manifest>